.sidebar {
    position: fixed;
    top: 70px;
    left: 0;
    bottom: 0;
    width: 280px;
    background: white;
    /* box-shadow: 0 4px 6px rgba(0,0,0,0.1); */
    overflow-y: auto;
    padding-bottom: 5rem;
    transition: transform 0.3s ease-in-out;
    z-index: 40;
    transform: translateX(0);
    border: 1px solid #e0e0e0;
  }
  
  @media (min-width: 640px) {
    .sidebar {
      width: 220px;
    }
  }
  
  @media (min-width: 1024px) {
    .sidebar {
      width: 250px;
    }
  }
  
  nav ul {
    list-style: none;
    padding: 0.75rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  
  nav li {
    border-radius: 0.5rem;
    transition: background-color 0.2s;
    position: relative;
  }
  
  nav li:hover {
    background-color: #f1f5f9;
  }
  
   button.menu-toggle {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.5rem 0 0.5rem 0.75rem;
    border-radius: 0.5rem;
    font-weight: 500;
    color: #374151;
    cursor: pointer;
    background: transparent;
    border: none;
    user-select: none;
    text-align: left;
    gap: 0.25rem;
    transition: background-color 0.4s ease;
  }
  

  
  a.active {
    color: #3730a3;
    font-weight: 700;
    cursor: default;
  }
  
  button.menu-toggle:focus {
    outline: none;
    background-color: #e0e7ff;
  }
  
  .arrow-icon {
    height: 1.25rem;
    width: 1.25rem;
    transition: transform 0.3s ease-in-out;
    fill: currentColor;
  }
  
  .arrow-icon.rotated {
    transform: rotate(180deg);
  }
  
  .flex-grow {
    flex-grow: 1;
  }
  
  .submenu {
    margin-left: 16px;
    margin-top: 4px;
    display: flex;
    flex-direction: column;
  }
  
  .submenu li a {
    font-weight: 400;
    color: #4b5563;
    padding: 0.4rem 0.5rem;
    border-radius: 0.375rem;
  }
  
   .submenu li a.active {
    
    color: #3730a3;
    font-weight: 600;
    background-color: aliceblue;
  }
@media (max-width: 768px) {
  .sidebar {
    top: 0;    
    bottom: 0; 
  }

}
